
.navbar{
    height: 12%;
    display:flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 1px;
}

nav ul li a{
    text-decoration: none;
    color:aliceblue;
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 5px;

}
body{
    background-color:beige;
}
h1{
    font-family: stencil;
    font-weight: bold;
}